<ul class="nav nav-list side-menu menu-sidebar">
    <li><a href="{{path("pageIndex")}}"><i class="icon-th-list"> </i><span class="break"></span>Dashboard</a></li>
    <li><a href="{{path("produtoIndex")}}"><i class="icon-lock"> </i><span class="break"></span>Produto</a></li>
    <li><a href="{{path("listaIndex")}}"><i class="icon-th-list"> </i><span class="break"></span>Lista de preços</a></li>
    <li><a href="{{path("atendenteIndex")}}"><i class="icon-headphones"> </i><span class="break"></span>Atendente</a></li>
    <li><a href="{{path("eventoIndex")}}"><i class="icon-music"> </i><span class="break"></span>Evento</a></li>
    <li><a href="{{path("fornecedorIndex")}}"><i class="icon-tags"> </i><span class="break"></span>Fornecedor</a></li>
    {#<li><a href="{{path("listaIndex")}}"><i class="icon-user"> </i><span class="break"></span>Usuário</a></li>#}
</ul>
{% if is_granted('ROLE_ADMIN') %}
<ul class="nav nav-list side-menu menu-sidebar" >
    <li><a href="{{path("terminalIndex")}}"><i class="icon-th-list"> </i><span class="break"></span>Terminal</a></li>
    <li><a href="{{path("empresaIndex")}}"><i class="icon-th-list"> </i><span class="break"></span>Empresa</a></li>
</ul>
{% endif %}