{{form_errors(form)}}

{{ form_row(form.razaoSocial)}}
{{ form_row(form.fantasia)}}
{{ form_row(form.telefone)}}

{{ form_row(form._token) }}
<div class="center">
    <button type="submit" class="btn pull-left"><i class="icon-ok"></i>Enviar</button>
    <a href="#" class="btn pull-right close-dialog"><i class="icon-off"></i>Fechar</a>
</div>

