{{form_errors(form)}}

{{ form_row(form.razaoSocial)}}
{{ form_row(form.fantasia)}}
{{ form_row(form.cnpj)}}
{{ form_row(form.ie)}}
{{ form_row(form.im)}}
{{ form_row(form.endereco)}}
{{ form_row(form.complemento)}}
{{ form_row(form.cep)}}
{{ form_row(form.bairro)}}
{{ form_row(form.cidade)}}

{{ form_row(form._token) }}
<div class="center">
    <button type="submit" class="btn pull-left"><i class="icon-ok"></i>Enviar</button>
    <a href="#" class="btn pull-right close-dialog"><i class="icon-off"></i>Fechar</a>
</div>

