{{form_errors(form)}}

{{ form_row(form.terminal)}}
{{ form_row(form.tipoVinculo)}}
<div class="temporario">
{{ form_row(form.dtInicio)}}
{{ form_row(form.dtTermino)}}
</div>
{{ form_row(form.bloquear)}}
{{ form_row(form.liberacao)}}


{{ form_row(form._token) }}
<div class="center">
    <button type="submit" class="btn pull-left"><i class="icon-ok"></i>Enviar</button>
    <a href="#" class="btn pull-right close-dialog"><i class="icon-off"></i>Fechar</a>
</div>

